
<footer class="backblueone" id="footer">
  <div class="container-sm pt-2 pb-2 text-center text-white fw-normal backgold">
    <p class="fs-5 text fw-bold mb-1">"Formemos Hombres que Forjen Pueblos"</p>
  </div>
  <div class="container text-center text-md-center">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <h5 class="h3 text-white mt-3 mb-4 text-center">Acerca de la normal</h5>
        <p class="text-justify text-white">
          La Escuela Normal Superior del Estado de México, les da la más cordial
          bienvenida al Ciclo Escolar 2022-2023, el cual, nos ofrece un campo de
          oportunidades para seguir posicionando a nuestra institución en la
          formación de maestros.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-3 mx-auto">
        <h5 class="h3 text-white mt-3 mb-4 text-center">Teléfono</h5>

        <ul class="list-unstyled">
          <li>
            <a class="phone text-white text-decoration-none und-text-a" href="tel:7222194615"><i
                class="fa fa-phone"></i> Tel: 7222193481</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-3 mx-auto">
        <h5 class="h3 text-white mt-3 mb-4 text-center">E-mail</h5>
        <ul class="list-unstyled">
          <li>
            <a class="envelope text-light text-decoration-none und-text-a" href="mailto:ensem@edugem.gob.mx
            "><i class="fa fa-envelope"></i> Correo electronico:
            ensem@edugem.gob.mx
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-center">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <h5 class="h3 text-white mt-3 mb-4 text-center">
          Nos encontramos ubicados en
        </h5>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <iframe class="col-md-4 mx-auto maps"
        src="https://maps.google.com/maps?q=Ensem&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
      <hr class="clearfix w-100 d-md-none" />
    </div>
  </div>
  <div class="social-icons">
    <h5 class="h3 text-white">Contáctanos</h5>
    <br />
    <ul>
      <li>
        <a class="envelope" href="mailto:ensem@edugem.gob.mx" target="_blank"><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a class="facebook" href="https://www.facebook.com/ensem2012" target="_blank"><i
            class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/ensemoficial?s=11&t=JI6lDlt8oKcw5NFF5y9WGQ" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a class="maps"
          href="https://www.google.com.mx/maps/place/Escuela+Normal+Superior+del+Estado+de+M%C3%A9xico/@19.2795902,-99.6701038,17z/data=!3m1!4b1!4m5!3m4!1s0x85cd89b0840b448b:0x23caf7c432852edd!8m2!3d19.2795851!4d-99.6679151"
          target="_blank"><i class="fa fa-map-marker"></i></a>
      </li>
      <li>
        <a class="phone" href="tel:7222193481"><i class="fa fa-phone"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3 text-light">
    © 2023 Copyright:
    <a class="color-white text-decoration-none text-gold" href="https://ensem.edomex.gob.mx/">ensem.edomex.gob.mx</a>
  </div>
</footer>
