<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h1 class="mb-4 text-center">{{getTitle()}}</h1>
      <form>
        <div class="row g-2">
          <div class="col-md-6">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name"/>
          </div>
          <div class="col-md-6">
            <label for="last-name" class="form-label">Apellido paterno:</label>
            <input type="text" class="form-control" id="last-name" name="last-name" [(ngModel)]="lastName"/>
          </div>
          <div class="col-md-6">
            <label for="mother-last-name" class="form-label">Apellido materno:</label>
            <input type="text" class="form-control" id="mother-last-name" name="mother-last-name" [(ngModel)]="motherLastName"/>
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">Telefono celular:</label>
            <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="phone"/>
          </div>
          <div class="col-12">
            <label for="email" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"/>
          </div>
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <label for="phoneHome" class="form-label">Telefono casa:</label>
                <input type="tel" class="form-control" id="phoneHome" name="phoneHome" [(ngModel)]="phoneHome"/>
              </div>
            </div>
          </div>
        </div>
<div class="col-12">
  <label for="curp" class="form-label">Curp:</label>
  <input type="text" class="form-control" id="curp" name="curp" [(ngModel)]="curp">
</div>
<div class="col-12">
  <label for="birthday" class="form-label">Fecha de nacimiento:</label>
  <input class="form-control" type="date" id="birthday" name="birthday" min="1960-01-01" [max]="minDate"  [value]="minDate">
</div>
<div class="col-12 mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <button type="submit" class="btn btn-dark w-100 fw-bold">Enviar</button>
    </div>
  </div>
</div>
</form>
</div>
</div>
</div>
