<div class="container text-center">
  <h1 class="mb-4 text-center">Selecciona la opción que deceas realizar</h1>
  <h4 class="mb-4 text-center">Los criterios para realizar una busqueda son los aiguientes:</h4>
  <h5 class="mb-4 text-center">Nombre, Apellido Paterno, Apellido Materno ó Curp</h5>
  <div class="row justify-content-center">
    <form action="" class="row col-sm-4">
    <div class="col-sm-7">
      <input class="form-control" type="search" placeholder="search" aria-label="search">
    </div>
    <div class="col-sm-5">
      <input type="submit" class="form-control btn btn-outline-success" id="buscar" name="buscar">
    </div>
  </form>
  <div class="row col-sm-2">
    <div class="col-sm-11">
      <input type="button" class="form-control btn btn-outline-primary" id="alta" name="alta" value="Alta">
    </div>
  </div>
  </div>
</div>
